.toilet {
    position: relative;
    width: 1310px;
    height: 100%;
    background: url("../assets/scenes/toilet.png") center / contain no-repeat;
    background-color: #0b0b0f;
    border: 2px solid #1f1a24;
    box-shadow:
            inset 0 0 40px rgba(0, 0, 0, 0.6),
            inset 0 0 80px rgba(122, 29, 45, 0.08);
}

/*PREMIUM HOVER*/
.toilet-premiumTextBox {
    display: none;

    font-size: 16px;

    position: absolute;
    top: 110px;
    left: 240px;

    width: auto;

    padding: 1px 6px;

    border: 1px solid var(--neon-blue);
    border-radius: 20px;

    background: rgba(10, 12, 18, 0.92);

    color: #d2c1af;

    text-shadow: 0 0 3px rgba(255, 255, 255, 0.15);

    box-shadow: 0 0 12px rgba(77, 163, 255, 0.35);

    backdrop-filter: blur(2px);

    z-index: 2;
}

.toilet-premium {
    position: absolute;
    top: 124px;
    left: 166px;

    width: 200px;
    height: 308px;

    z-index: 2;
}

.toilet-premium:hover .hover-image {
    display: block;
}

.toilet-premium:hover + .toilet-premiumTextBox {
    display: block;
    opacity: 0.95;
}

/*KLUB HOVER*/
.toilet-leaveToiletTextBox {
    display: none;

    font-size: 16px;

    position: absolute;
    top: 690px;
    left: 580px;

    width: auto;

    padding: 1px 6px;

    border: 1px solid var(--neon-blue);
    border-radius: 20px;

    background: rgba(10, 12, 18, 0.92);

    color: #d2c1af;

    text-shadow: 0 0 3px rgba(255, 255, 255, 0.15);

    box-shadow: 0 0 12px rgba(77, 163, 255, 0.35);

    backdrop-filter: blur(2px);

    z-index: 2;
}

.toilet-leaveToilet {
    position: absolute;
    top: 624px;
    left: 220px;

    width: 725px;
    height: 204px;

    z-index: 2;
}

.toilet-leaveToilet:hover .hover-image {
    display: block;
}

.toilet-leaveToilet:hover + .toilet-leaveToiletTextBox {
    display: block;
    opacity: 0.95;
}