.tooltip {
	visibility: hidden;
	opacity: 0;
	background: black;
	color: var(--text-light);
	text-align: center;
	padding: 4px 8px;
	border-radius: 6px;
	position: absolute;
	left: 110%;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity 0.3s;
	white-space: pre-line;
	z-index: 20;
	font-size: 0.85em;
	pointer-events: none;
}

.tooltip-name {
	font-weight: bold;
	font-size: 15px;
	margin: 3px 0;
}

.tooltip-type {
	font-size: 13px;
	margin: 2px 0;
}

.tooltip-slot {
	font-size: 13px;
	margin: 2px 0;
}
.tooltip-description {
	font-size: 11px;
	margin: 3px 0;
    font-style: italic;
}

.tooltip-stat {
	font-size: 13px;
	margin: 1px 0;
}

.equip-slot.show-tooltip .tooltip {
	visibility: visible;
	opacity: 1;
}
