<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/thymeleaf/favicon.png}">
    <link rel="stylesheet" th:href="@{/thymeleaf/style.css}">
    <title>Kreator Postaci</title>
</head>
<body>
    <header>
        <a th:href="@{/}"><img id="logo" th:src="@{/thymeleaf/images/logo.png}" alt="SRUBA Logo"></a>
    </header>
    <hr class="content-divider"/>
    <main>
        <div class="form-container">
            <h1>Utwórz postać</h1>
            <div th:if="${error}" class="alert alert-error" th:text="${error}">
                Wystąpił błąd
            </div>
            <form th:action="@{/mvc/character-creator}" method="post" th:object="${characterCreatorDto}">
                <div class="form-group">
                    <label for="name">Nazwa postaci</label>
                    <input
                            type="text"
                            id="name"
                            th:field="*{name}"
                            placeholder="Wpisz nazwe postaci"
                            required>
                </div>
                <fieldset>
                    <legend>Wybierz awatar swojej postaci:</legend>
                    <div class="avatar-selector">
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar1.png" required>
                            <img th:src="@{/thymeleaf/images/avatars/avatar1.png}" alt="avatar1.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar2.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar2.png}" alt="avatar2.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar3.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar3.png}" alt="avatar3.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar4.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar4.png}" alt="avatar4.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar5.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar5.png}" alt="avatar5.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar6.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar6.png}" alt="avatar6.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar7.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar7.png}" alt="avatar7.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar8.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar8.png}" alt="avatar8.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar9.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar9.png}" alt="avatar9.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar10.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar10.png}" alt="avatar10.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar11.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar11.png}" alt="avatar11.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar12.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar12.png}" alt="avatar12.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar13.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar13.png}" alt="avatar13.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar14.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar14.png}" alt="avatar14.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar15.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar15.png}" alt="avatar15.png">
                        </label>
                        <label class="image-option">
                            <input type="radio" th:field="*{avatarPicture}" value="avatar16.png">
                            <img th:src="@{/thymeleaf/images/avatars/avatar16.png}" alt="avatar16.png">
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Wybierz klasę swojej postaci:</legend>
                    <div class="class-selector">
                        <label class="class-option" th:each="charClass : ${availableClasses}">
                            <input type="radio" th:field="*{characterClass}" th:value="${charClass.className}" required>
                            <span th:text="${charClass.className}">Nazwa Klasy</span>
                        </label>
                    </div>
                </fieldset>
                <button type="submit" class="form-btn">
                    Utwórz postać
                </button>
            </form>
        </div>
        <div class="logout-container">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-btn">WYLOGUJ SIĘ</button>
            </form>
        </div>
    </main>
    <hr class="content-divider"/>
    <footer>
        <p>&copy; 2026 SRUBA Inc. Wszelkie prawa zastrzeżone.</p>
    </footer>
    </body>
</html>